<div class="navbar navbar-dark bg-dark">
    <a href="/about-cv" class="navbar-brand">CV</a>
    <a href="/app-info" class="navbar-brand">App Info</a>
    <a href="https://github.com/viktor111/CV">
        <img src="Octocat.jpg" width="30" height="30" alt="">
    </a>
</div>
